/* style.scss */
@import 'reset';
@import 'variables';

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}


textarea, input, select { outline: none; }

.clear-fix {

	&:after {
		display:block;
		clear:both;
		content:"";
	}
}

a, a:visited {
	text-decoration:none;
	color:inherit;
}

b {
	font-weight: bold;
}

html, body {
	width:100%;
	height:100%;
	background:$white;
	font-family: "Helvetica", sans-serif;
	line-height:1.5;
	color:$gray8;
	min-width:1024px;
}

header {
	font-family: "Oswald";
	font-size: 21px;
	color: $blue3;
	text-transform: uppercase;
	padding: 12px 16px;
}

.adfin-logo {
	width: 120px;
	height: 24px;
	background: url(../img/logo.svg) no-repeat;
	margin-bottom: 8px;
}

nav {
	position: fixed;
	left: 16px;
	top: 140px;

	.nav__item {
		display: block;
		color: $gray3;
		font-size: 16px;	
		margin-bottom: 16px;
		&:before {
			display: inline-block;
			margin-right: 4px;
			content: "1";
			height: 20px;
			width: 20px;
			text-align: center;
			border-radius: 50%;
			border: 1px solid $gray3;
		}

		&:hover {
			color: $blue3;
			&:before {
				border-color: $blue3;
			}
		}

	}

	@for $item from 1 through 10{
	 	.nav__item:nth-child(#{$item}){ 

	 		&:before {
	 			content: "#{$item}";
	 		}
	 	}
	    
	}
} 

main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 240px;
}

section {
	padding: 48px 0;
	max-width: 800px;
}

h1 {
	font-size: 50px;
	font-family: "Oswald";
	text-transform: uppercase;
	color: $blue3;
	margin-bottom: 32px;
	position: relative;
	border-bottom: 1px solid $gray2;
	padding-bottom: 16px;
}

.logos__img {
	width: 100%;
}

.download-btn {
	display: block;
	font-family: "Helvetica";
	text-transform: none;
	font-weight: bold;
	font-size: 16px;
	height: 32px;
	padding: 0 16px;
	line-height: 32px;
	border-radius: 32px;
	border: 1px solid  $blue3;
	position: absolute;
	right: 0;
	bottom: 28px;
}

.flex-wrap {
	display: flex;
}

.colors__column {
	flex-grow: 1;
}

.colors__text {
	flex-grow: 2;
	width: percentage(1/2);

	p {
		margin-bottom: 16px;
	}
}
.color {
	height: 96px;
	padding-left: 16px;
	padding-top: 4px;
	text-transform: uppercase;
	font-weight: bold;
	border-left: 16px solid $adfin-blue-dark;

	&.logo-secondary {
		border-left-color: $adfin-blue-light;
	}

	&.blue1 {
		border-left-color: $blue3;
	}
	&.blue2 {
		border-left-color: $blue4;
	}
	&.blue3 {
		border-left-color: $blue5;
	}
	&.blue4 {
		border-left-color: $blue6;
	}
	&.blue5 {
		border-left-color: $blue7;
	}
	&.blue6 {
		border-left-color: $blue8;
	}

	&.gray1 {
		border-left-color: $gray1;
	}
	&.gray2 {
		border-left-color: $gray2;
	}
	&.gray3 {
		border-left-color: $gray3;
	}
	&.gray4 {
		border-left-color: $gray5;
	}
	&.gray5 {
		border-left-color: $gray8;
	}
}

.color__val {
	color: $gray5;
	font-size: 12px;
	padding-top: 4px;
	font-weight: normal;
	span {
		display: block;
	}
}

.type__block {
	margin-bottom: 32px;
}

h3 {
	font-weight: bold;
	color: $gray5;
	margin: 8px 0;
}

.email__block {
	font-size: 13px;
	line-height: 1.4;
}
